canvas {
  position: fixed;
  top: 0;
  left: 0;
}
:root {
  --dark-bg: rgba(105, 48, 195, 0.7);
  --light-bg: rgba(26, 117, 159, 0.7);

  --spacing: 350px;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.light {
  color: white;
  background-color: var(--light-bg);
}
.header {
  font-size: 2.2em;
  margin-left: 1em;
}

.right {
  grid-column: 6 / 12;
}

.skills {
  padding-bottom: 60px;
}

.skills-diagram {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .skills-diagram {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .skills-diagram {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .skills-diagram {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .skills-diagram {
    font-size: 8px;
  }
}

@media screen and (max-width: 330px) {
  .skills-diagram {
    font-size: 6px;
  }
}

.skills-diagram .item {
  position: relative;
  color: #fff !important;
  display: inline-block;
  vertical-align: top;

  border-style: solid;
  border-width: 1px;
  border-radius: 50%;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  width: 2em;
  height: 2em;
  line-height: 2em;
  opacity: 0.8;
}

.skills-diagram .item:hover {
  opacity: 1;
}

.skills-diagram-vertical .item {
  display: block;
  margin: 0.25em auto;
}

.skills-diagram .skill-1 {
  vertical-align: bottom;
  width: 4em;
  height: 4em;
  line-height: 4em;

  background-color: #409eeb;
  border-color: #409eeb;

  left: 1.33em;
  top: 1.5em;
}
.skills-diagram .skill-2 {
  width: 7em;
  height: 7em;
  line-height: 7em;
  left: 1em;
  top: 2em;

  background-color: #723c70;
  border-color: #723c70;
}

.skills-diagram .skill-3 {
  vertical-align: bottom;

  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: #1780a1;
  border-color: #1780a1;

  top: -4em;
  left: 0.66em;
}
.skills-diagram .skill-4 {
  width: 10em;
  height: 10em;
  line-height: 10em;

  background-color: #b7094c;
  border-color: #b7094c;

  top: 2.67em;
}
.skills-diagram .skill-5 {
  width: 7em;
  height: 7em;
  line-height: 7em;
  background-color: #455e89;
  border-color: #455e89;

  left: -5em;
  top: -2em;
}
.skills-diagram .skill-6 {
  vertical-align: bottom;

  width: 3em;
  height: 3em;
  line-height: 3em;

  background-color: #c2517c;
  border-color: #c2517c;

  left: -6.5em;
  top: -3em;
}
.skills-diagram .skill-7 {
  vertical-align: bottom;
  width: 7em;
  height: 7em;
  line-height: 7em;

  top: -7em;
  left: 12em;

  background-color: #d85a8a;
  border-color: #d85a8a;
}
.skills-diagram .skill-8 {
  vertical-align: bottom;

  width: 9em;
  height: 9em;
  line-height: 9em;
  background-color: #a01a58;
  border-color: #a01a58;
  left: -3em;
  top: 0;
}
.skills-diagram .skill-9 {
  width: 10em;
  height: 10em;
  line-height: 10em;

  background-color: #0091ad;
  border-color: #0091ad;

  left: -2em;
  top: 1em;
}
.skills-diagram .skill-10 {
  vertical-align: bottom;
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: #892b64;
  border-color: #892b64;

  left: -2em;
  top: 0px;
  font-size: 1em;
}

.skills-diagram .skill-11 {
  vertical-align: bottom;
  width: 8em;
  height: 8em;
  line-height: 8em;
  background-color: #2e6f95;
  border-color: #2e6f95;

  left: -3em;
  top: -5em;
  font-size: 1em;
}

.important {
  font-weight: 900;
  font-size: 1.3em;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-icon {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1350px) {
  header,
  .right,
  section {
    grid-column: 2 / 12;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  header,
  .right,
  section {
    grid-column: 1 / 13;
  }
  .header,
  .name,
  .position {
    text-align: center;
    margin: 0;
  }
  .skills h2 {
    margin-bottom: 10px;
  }
}
